* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.clear {
    clear: both;
}
body {
    color: #ffffff;
    background-color: #000000;
    font-weight: bold;
    font-size: 100%;
}

header {
    position: relative;
}

.logoleft {
    width: 30%;
    float: left;
    color: #000000;
}
.logomain {
    float: left;
    width: 40%;
}
.logomain img {
    width: 100%;
}
.logoright {
    width: 30%;
    float: left;
    color: #000000;
}

.lang {
    float: right;
    margin-right: 1%;
}
.lang ul {
    display: block;
}
.lang ul li {
    display: inline-block;
}
.lang ul li:hover {
    color: #000000;
    background-color: #ffffff;
}
.lang ul li:hover ul {
    display: block;
}
.lang ul li ul {
    position: absolute;
    width: 95px;
    display: none;
}
.lang ul li ul li {
    background-color: #ffffff;
    display: block;
    text-align: center;
}
.lang ul li ul li a {
    color: #000000;
    text-decoration: none;
    display: block !important;
}
.lang ul li ul li a:hover {
    background: #cdcdcd;
}

#menu {
    width: 100%;
    margin-top: 5px;
    text-align: center;
}
#menu ul {
    list-style-type: none;
}
#menu li {
    padding: 0 1.5% 0 1.5%;
    display: inline;
}
#menu li a {
    color: #ffffff;
    text-decoration: none;
}
#menu li a:hover {
    color: #000000;
    background-color: #ffffff;
}
#menu li a.selected {
    color: #000000;
    background-color: #ffffff;
}

.posterleft {
    width: 37.5%;
    float: left;
    color: #000000;
}
.postermain {
    margin-top: 30px;
    float: left;
    width: 25%;
}
.postermain img {
    width: 100%;
}
.posterright {
    width: 37.5%;
    float: left;
    color: #000000;
}

table, th, tr {
    margin-top: 40px;
    font-size: 100%;
    width: 100%;
    border-collapse: collapse;
}
td {
    padding: 0 5px 10px 5px;
}
.td1 { width: 20%; }
.td2 { width: 50%; }
.td3 {
    width: 30%;
    text-align: right;
}
.tableleft {
    width: 25%;
    float: left;
    color: #000000;
}
.tablemain {
    width: 50%;
    float: left;
}
.tableright {
    width: 25%;
    float: left;
    color: #000000;
}

@media only screen and (max-width: 600px) {
    .logomain, .postermain {
        width: 80%;
    }
    .logoleft, .logoright, .posterleft, .posterright {
        width: 10%;
    }
    .tableleft, .tableright {
        width: 5%;
    }
    #menu li {
        display: block;
        font-size: 120%;
    }
    .lang {
        float: none;
        text-align: center;
        margin-bottom: 10px;
    }
    .tablemain {
        width: 90%;
    }
    table, th, tr, td {
        font-size: 90%;
    }
}

footer {
    margin-top: 1%;
    font-size: 80%;
    font-weight: normal;
    color: #cdcdcd;
    text-align: center;
}