* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.clear {
    clear: both;
}
.spaceclear {
    clear: none;
}
body {
    color: #ffffff;
    background-color: #000000;
    font-weight: bold;
    font-size: 100%;
}

header {
    position: relative;
}

.logoleft {
    width: 30%;
    float: left;
    color: #000000;
}
.logomain {
    float: left;
    width: 40%;
}
.logomain img {
    width: 100%;
}
.logoright {
    width: 30%;
    float: left;
    color: #000000;
}

.lang {
    float: right;
    margin-right: 1%;
}
.lang ul {
    display: block;
}
.lang ul li {
    display: inline-block;
}
.lang ul li:hover {
    color: #000000;
    background-color: #ffffff;
}
.lang ul li:hover ul {
    display: block;
}
.lang ul li ul {
    position: absolute;
    width: 90px;
    display: none;
}
.lang ul li ul li {
    background-color: #ffffff;
    display: block;
    text-align: center;
}
.lang ul li ul li a {
    color: #000000;
    text-decoration: none;
    display: block !important;
}
.lang ul li ul li a:hover {
    background: #cdcdcd;
}

#menu {
    width: 100%;
    margin-top: 5px;
    text-align: center;
}
#menu ul {
    list-style-type: none;
}
#menu li {
    padding: 0 1.5% 0 1.5%;
    display: inline;
}
#menu li a {
    color: #ffffff;
    text-decoration: none;
}
#menu li a:hover {
    color: #000000;
    background-color: #ffffff;
}
#menu li a.selected {
    color: #000000;
    background-color: #ffffff;
}

.posterleft {
    width: 37.5%;
    float: left;
    color: #000000;
}
.postermain {
    margin-top: 30px;
    float: left;
    width: 25%;
}
.postermain img {
    width: 100%;
}
.posterright {
    width: 37.5%;
    float: left;
    color: #000000;
}

table, th, tr {
    margin-top: 40px;
    font-size: 100%;
    width: 100%;
    border-collapse: collapse;
}
td {
    padding: 0 5px 10px 5px;
}
.td1 { width: 20%; }
.td2 { width: 50%; }
.td3 {
    width: 30%;
    text-align: right;
}
.tableleft {
    width: 25%;
    float: left;
    color: #000000;
}
.tablemain {
    width: 50%;
    float: left;
}
.tableright {
    width: 25%;
    float: left;
    color: #000000;
}

.stageleft {
    width: 25%;
    float: left;
    color: #000000;
}
.stagemain_l {
    margin-top: 40px;
    float: left;
    width: 30%;
}
.stagemain_l img {
    width: 100%;
}
.stagemain_space {
    width: 0%;
    float: left;
    color: #000000;
}
.stagemain_r {
    margin: 10px 0 0 10%;
    width: 15%;
    float: left;
}
#ticket {
    width: 100%;
}
#ticket table, #ticket tr {
    font-size: 100%;
    border-collapse: collapse;
}
#ticket td.c {
    width: 8%;
    text-align: right;
}
#ticket td.s {
    width: 42%;
}
.stageright {
    width: 25%;
    float: left;
    color: #000000;
}

.box {
    width: 60%;
    float: left;
    text-align: center;
    margin-top: 40px;

}
.btn {
    display: inline-block;
    margin: 20px 2%;
    padding: 1% 60px;
    background-color: #ffffff;
    color: #000000;
    font-size: 120%;
}
.btn a {
    text-decoration: none;
    background-color: #ffffff;
    color: #000000;

}
.btn a:hover {
    color: #000000;
}

.setlistleft {
    float: left;
    width: 20%;
}
.setlistmain {
    margin-top: 40px;
    float: left;
    width: 60%;
}
#dd {
    width: 40%;
    margin: 0 5% 50px 5%;
    float: left;
}
#dd ul {
    display: inline;
}
#dd ul li {
    display: inline-block;
    text-align: center;
}
#dd ul li:hover {
    color: #000000;
    background-color: #ffffff;
}
#dd ul li:hover ul {
    display: block;
}
#dd ul li img {
    width: 100%;
}
#dd ul li ul {
    position: absolute;
    display: none;
}
#dd ul li ul li {
    font-size: 90%;
    background-color: #ffffff;
    color: #000000;
    display: block;
    text-align: left;
    padding: 0 5px 5px 5px;
}
.setlistright {
    float: left;
    width: 20%;
}

@media only screen and (max-width: 1000px) {
    .logomain, .postermain, .stagemain_l, .stagemain_r, .setlistmain {
        width: 80%;
    }
    .logoleft, .logoright, .posterleft, .posterright, .stageleft, .stageright, .setlistleft, .setlistright {
        width: 10%;
    }
    .tableleft, .tableright {
        width: 5%;
    }
    .stagemain_space {
        width: 10%;
    }
    #menu li {
        display: block;
        font-size: 120%;
    }
    .lang {
        float: none;
        text-align: center;
        margin-bottom: 10px;
    }
    .tablemain {
        width: 90%;
    }
    .tablemain table, .tablemain th, .tablemain tr, .tablemain td {
        font-size: 90%;
    }
    .spaceclear {
        clear: both;
    }
    #dd {
        width: 90%;
    }
    .box {
        width: 80%;
        margin: 40px 0;
    }
}

footer {
    margin-top: 1%;
    font-size: 80%;
    font-weight: normal;
    color: #cdcdcd;
    text-align: center;
}